/* Stylesheet for weather dashboard homework */

/* title bar */
#title {
    background: black;
    height: 100px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}


/* main body */

.mainContainer {
    display: flex;
    flex-direction: column;
}

/* search&history col */

#searchAndHistory {
    background: lightgray;
    height: 650px;
    flex: auto;
}

/* inside search&history col */
#searchbar {
    margin-top: 10px;
}




/* weather and five day forcast */

#weatherAndFiveday {

    background: whitesmoke;
    flex: auto;
}

/* current weather */

#currentWeatherBox {
   border: 2px solid black;
    height: 350px;
    margin-top: 20px;
}

/* five day forcast */

#fiveDayBox {
    margin-top: 10px;
}

#fiveDayCard {
    border: 1px solid black;
    height: 200px;
    width: 125px;
    margin: 10px;
    background-color: blue;
    color: whitesmoke;
}