/* Stylesheet for weather dashboard homework */

/* title bar */
#title {
    background: black;
    height: 100px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}


/* main body */

.container {
    
}

/* search&history col */

#searchAndHistory {
    background: lightgray;
    height: 600px;
}

/* inside search&history col */
#searchbar {
    margin-top: 10px;
}




/* weather and five day forcast */

#weatherAndFiveday {

    background: whitesmoke;
}

/* current weather */

#currentWeatherBox {
    border: 2px solid grey;
    height: 380px;
    margin-top: 5px;
}

/* five day forcast */

#fiveDayBox {
    border: 2px solid grey;
    height: 200px;
    margin-top: 10px;
}