/* Stylesheet for weather dashboard homework */

/* title bar */
#title {
    background: black;
    height: 100px;
}

h1 {
    color: white;
    text-align: center;
    margin-top: 20px;
}


/* main body */

.mainContainer {
}

/* search&history col */

#searchAndHistory {
    background: lightgray;
    height: 650px;
    flex: auto;
}

/* inside search&history col */
#searchbar {
    margin-top: 10px;
}




/* weather and five day forcast */

#weatherAndFiveday {

    background: whitesmoke;
    /* flex: auto; */
}

/* current weather */

#currentWeatherBox {
   border: 2px solid black;
    height: 350px;
    margin-top: 20px;
}

h5 {
    font-size: 35px;
}

/* five day forcast */

#fiveDayForecast {
    margin-top: 10px;
}

#cardBox {
    display: flex;
}


.forecastBox {
    border: 1px solid black;
    height: 200px;
    width: 150px;
    margin: 25px;
    background-color: darkblue;
    color: whitesmoke;
}